#!/usr/bin/env python
PACKAGE = "drive_motor"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
 
gen.add("rotation_count",    int_t,    0, "90 degree rotation count", 85,  10, 200)
gen.add("maximun_speed",    int_t,    0, "Maximum speed", 200000,  10000, 800000)

exit(gen.generate(PACKAGE, "drive_motor", "agv2"))
